* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* leftside - 70% */
.left-side {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.logo-img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 100%;
}
.description {
  font-size: 18px;
  max-width: 400px;
}

/* rightside-> 30% */
.right-side {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ddd;
}

#flip {
  display: none;
}

.card-container {
  width: 80%;
  height: 450px;
  position: relative;
  transform-style: preserve-3d; 
  transition: transform 0.5s ease-in-out;
}

/* when checkbox is checked -> flip the card  */
#flip:checked ~ .card-container {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background: white;
  border: 1px solid #eee;
}

.card-back {
  transform: rotateY(180deg);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button,
.btn-link {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block;
}
.forgot-link {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #007bff;
  text-decoration: none;
  margin-top: -5px;
  margin-bottom: 15px;
}
.toggle-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
.toggle-text label {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}
