* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

/* leftside - 70% */
.left-side {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #2f93ffd8;
  color: rgb(255, 255, 255);
}
.logo-img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 100%;
}
.description {
  font-size: 1rem;
  max-width: 400px;
}

/* rightside-> 30% */
.right-side {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ddd;
}

.card-container {
  width: 80%;
  height: 450px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background: white;
  border: 1px solid #eee;
}

#tab-register:checked ~ .card-container .card-back {
  display: flex;
}

#tab-register:checked ~ .card-container .card-front {
  display: none;
}

#tab-login:checked ~ .card-container .card-front {
  display: flex;
}

#tab-login:checked ~ .card-container .card-back {
  display: none;
}

#tab-login:checked ~ .card-container label[for="tab-login"],
#tab-register:checked ~ .card-container label[for="tab-register"] {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block;
}
.forgot-link {
  display: block;
  text-align: left;
  font-size: 13px;
  color: #007bff;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 15px;
}
.toggle-text {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
.toggle-text label {
  color: rgb(52, 50, 50);
  cursor: pointer;
  font-weight: bold;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  gap: 10%;
}

@media (max-width: 768px) {
  .left-side,
  .right-side {
    width: 100%;
  }
  body,
  html {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .container{
    gap: 10px;
  }
}
